In [1]:
n = "ineruon"
n = 4
for i in range(4) :
    for j in range(0  , i+1) :
        print("ineruon" , end = " ")
    print()

ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [2]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron " *n).center(30,' '))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
       ineuron ineuron
           ineuron

In [3]:
l = [[1,2,3,4,] , (2,3,4,5,6) , (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' : "sudh" , "k2" : "ineuron" , "k3" : "kumar" , 3:6 , 7:8} ,["ineuron" ,"data science"]]

In [4]:
for i in l :
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [5]:
for i in l :
    if type(i) == dict :
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
for i in l :
    if type(i)== tuple :
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [7]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [49]:
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                l1.append(j)
    if type(i) == dict :
        for k in i.items() :
            for g in k :
                if type(g) == int :
                    l1.append(g)

In [50]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [51]:
d = {'k1' : "sudh" , "k2" : "ineuron" , "k3" : "kumar" , 3:6 , 7:8}

In [52]:
d.items()

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [53]:
sum(l1)

156

In [54]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [14]:
for i in l1 :
    if i % 2 == 0 :
        pass
    else :
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [15]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [16]:
l[4]['k2']

'ineuron'

In [17]:
l[5][0]

'ineuron'

In [18]:
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if j == 'ineuron':
                l1.append(j)
    if type(i)== dict :
        for k in i.items() :
            for g in k :
                if g == 'ineuron':
                    l1.append(g)

In [19]:
l1

['ineuron', 'ineuron']

In [55]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [61]:
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == str :
                l1.append(j)
    if type(i) == dict :
        for k in i.items() :
            for g in k :
                if type(g) == int or type(g) == str :
                    l1.append(g)

In [62]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']

In [64]:
for i in set(l1):
    print(i , l1.count(i))

1 1
2 2
3 4
4 4
5 3
6 3
7 2
k1 1
sudh 1
ineuron 2
k3 1
8 1
45 1
data science 1
23 1
k2 1
kumar 1

In [65]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [66]:
for i in l :
    if type(i) == dict :
        print(len(list(i.keys())))

5

In [67]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']

In [69]:
for i in l1 :
    if type(i) == str :
         print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [70]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']

In [71]:
for i in l1 :
    if type(i) == str :
        if i.isalnum() :
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [72]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [73]:
for i in l :
    m = 1 
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                m = m * j 
        print(type(i) , m)
    if type(i) == dict :
        for k in i.items() :
            for n in k :
                if type(n) == int :
                    m=m *n 
        print(type(i) , m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [74]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']